{% extends 'page.html' %}


{% block page-pretitle %}Overview{% endblock %}
{% block page-title %}Dashboard{% endblock %}

{% block page %}
  <!-- cards -->
  <div class="row">
    <div class="col-12 col-lg-6 col-xl">
      {% include "components/statcard.html" with title="LLMs" value=n_llms icon="fe-cpu" %}
    </div>
    <div class="col-12 col-lg-6 col-xl">
      {% include "components/statcard.html" with title="Evaluations" value=n_evaluations icon="fe-clipboard" %}
    </div>
    <div class="col-12 col-lg-6 col-xl">
      {% include "components/statcard.html" with title="Prompts" value=n_prompts icon="fe-file-plus" %}
    </div>
    <div class="col-12 col-lg-6 col-xl">
      {% include "components/statcard.html" with title="Responses" value=n_responses icon="fe-message-square" %}
    </div>
  </div><!-- cards ends -->

  <!-- evaluations list -->
  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            Pending Review Tasks
          </h4>

        </div>
        <div class="card-body">
          <ul class="list-group list-group-lg list-group-flush list my-n4">
            {% for evaluation in evaluations %}
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">
                  <!-- icon -->
                  <a href="{{ evaluation.get_absolute_url }}" class="avatar avatar-lg">
                    <span class="avatar-title rounded bg-white text-secondary">
                      <span class="fe fe-clipboard"></span>
                    </span>
                  </a>
                </div>
                <div class="col ms-n2">

                    <!-- Title -->
                    <h4 class="mb-1 name">
                      <a href="{{ evaluation.get_absolute_url }}">{{ evaluation }}</a>
                    </h4>

                    <!-- Text -->
                    <p class="card-text small text-muted mb-1">
                      {{ evaluation.task }}
                    </p>

                    <!-- Progress -->
                    {% with pcent=evaluation.percent_complete %}
                    <div class="row align-items-center g-0">
                      <div class="col-auto">
                        <div class="small me-2">{{ pcent }}%</div>
                      </div>
                      <div class="col pe-5">
                        <div class="progress progress-sm">
                          <div class="progress-bar" role="progressbar" style="width: {{ pcent }}%" aria-valuenow="{{ pcent }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <a href="{{ evaluation.get_absolute_url }}" class="btn btn-sm btn-white d-none d-md-inline-block">
                      {% if evaluation.is_started %}Continue Review{% else %}Begin Review{% endif %}
                    </a>

                  </div>
                  <div class="col-auto">

                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="{% url 'admin:parley_reviewtask_change' evaluation.pk %}" class="dropdown-item">
                          Edit in CMS
                        </a>
                        <a href="{% url 'evaluation-detail' evaluation.evaluation.evaluation.pk %}" class="dropdown-item">
                          View Evaluation
                        </a>
                        <a href="{% url 'llm-detail' evaluation.evaluation.model.pk %}" class="dropdown-item">
                          View Model
                        </a>
                      </div>
                    </div>

                </div>
              </div>
            </li>
            {% empty %}
            <li class="list-group-item">
              <p>
                You have no pending review tasks!
              </p>
              <p>
                To begin a review, go to the
                <a href="{% url 'evaluations-list' %}">Evaluations</a> page, and select
                an evaluation that has at least one model associated with it. When you
                reach the evaluation detail page, click on the "Begin Review" button to
                start an evaluation.
              </p>
              <p>
                If all models have been marked as reviewed &mdash; congratulations, you
                are an expert reviewer! Let's train a new model and get evaluating!
              </p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div><!-- evaluations list ends -->

  <!-- llm model list -->
  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">LLM Models</h4>
        </div>

        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>Name</th>
                <th class="text-center">Version</th>
                <th class="text-center">Type</th>
                <th class="text-center">Responses</th>
              </tr>
            </thead>
            <tbody>
              {% for model in llms %}
              <tr>
                <td>
                  <a class="text-reset" href="{{ model.get_absolute_url }}">{{ model.name }}</a>
                </td>
                <td class="text-center">v{{ model.version }}</td>
                <td class="text-center">{% if model.is_adapter_model %}LoRA{% else %}Base{% endif %}</td>
                <td class="text-center">{{model.responses.count}}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="4">No Models Loaded</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div><!-- llm model list ends -->
{% endblock %}
