{% extends 'registration/base.html' %}

{% block heading-text %}Reset password{% endblock %}
{% block subheading-text %}Enter a new password to reset your account.{% endblock %}

{% block alerts %}
  {% if form.errors %}
  {% for field, errors in form.errors.items %}
  {% for error in errors %}
  <div class="alert alert-danger alert-dismissible fade show">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}

  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger alert-dismissible fade show">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
{% endblock %}

{% block auth %}
<!-- password reset form -->
<form role="form" method="post">
  <!-- password -->
  <div class="form-group">
    <label class="form-label">
      Password
    </label>

    <input type="password" class="form-control" placeholder="New password"  id="id_new_password1" name="new_password1" maxlength="48" autofocus required />
  </div>

  <!-- confirm password -->
  <div class="form-group">
    <label class="form-label">
      Confirm Password
    </label>

    <input type="password" class="form-control" placeholder="Repeat password"  id="id_new_password2" name="new_password2" maxlength="48" autofocus required />
  </div>

  <!-- submit -->
  <button type="submit" value="login" class="btn btn-lg w-100 btn-primary mb-3">
    Sign in
  </button>

  <!-- hidden form fields -->
  <input type="hidden" name="next" value="{{ next }}" />
  {% csrf_token %}
</form>
{% endblock %}