{% autoescape off %}
Hello {{ user.get_short_name }},

We've received a request to change your password on Parlance.

Click <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">here</a> to change your password.

If you didn't request a password change, you can ignore this message and continue to use your current password.

If clicking the link above doesn't work, please copy and paste the following URL in a new browser
window instead:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Sincerely,
Rotational Labs
{% endautoescape %}