{% extends 'registration/base.html' %}

{% block heading-text %}Password reset{% endblock %}
{% block subheading-text %}Enter your email to get a password reset link.{% endblock %}

{% block alerts %}
  {% if form.errors %}
  <div class="alert alert-danger alert-dismissible fade show">
    Unable to send password reset link.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  {% endif %}

  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger alert-dismissible fade show">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
{% endblock %}

{% block auth %}
<!-- password reset form -->
<form role="form" action="{% url 'password_reset' %}" method="post">

  <!-- email address -->
  <div class="form-group">
    <label class="form-label">
      Email Address
    </label>

    <input id="email" name="email" required="" type="email" class="form-control" placeholder="name@address.com" autocomplete="off" maxlength="254" autofocus>
  </div>

  <!-- submit -->
  <button type="submit" value="login" class="btn btn-lg w-100 btn-primary mb-3">
    Reset Password
  </button>

  <!-- retry login link -->
  <div class="text-center">
    <small class="text-muted text-center">
      Remember your password? <a href="{% url 'login' %}">Log in</a>.
    </small>
  </div>

  <!-- hidden form fields -->
  {% csrf_token %}
</form>
{% endblock %}